<p id="notice"><%= notice %></p>

<h4> User's Home Page <h4>
<hr>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<hr>

<h4> Below are the courses you are currently enrolled in <h4>

  <% current_user.courses.each do |courses| %>
  <p><%= courses.name %><p>
  <% end %>
